@keyframes MoveUpDown {
    0%,
    100% {
        top: -0.5%;
    }
    50% {
        top: -.2%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes MoveFerry {
    0% {
        left: -20%;
    }
    100% {
        left: 110%;
    }
}

@keyframes MoveBoat {
    0% {
        transform: rotate(0deg);
        top: 6.2%;
    }
    50% {
        top: 6.5%;
        transform: rotate(2deg);
    }
}

@keyframes Waving {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
}

@keyframes Jellyfish {
    0% {
        top: 21.7%;
    }
    50% {
        top: 30%;
    }
}

@keyframes zebra_fish {
    0% {
        left: 105%;
    }
    100% {
        left: -8%;
        top: 33%
    }
}

@keyframes gold_fish {
    0% {
        left: 106%;
    }
    100% {
        left: -10%;
        top: 55%
    }
}

@keyframes blue_fish {
    0% {
        left: 110%;
    }
    100% {
        left: -11%;
        top: 66%
    }
}

@keyframes diver {
    0% {
        left: 110%;
    }
    100% {
        left: -11%;
        top: 40%
    }
}

@keyframes little_fish {
    0% {
        left: -6%;
    }
    100% {
        left: 103%;
        top: 32%
    }
}

@keyframes prawn {
    0% {
        left: 110%;
    }
    100% {
        left: -11%;
        top: 26%
    }
}

@keyframes barra1 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 25%
    }
}

@keyframes barra2 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 30%
    }
}

@keyframes barra3 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 35%
    }
}

@keyframes barra4 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 40%
    }
}

@keyframes barra5 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 45%
    }
}

@keyframes barra6 {
    0% {
        left: -12%;
    }
    100% {
        left: 112%;
        top: 50%
    }
}

@keyframes turtle {
    0% {
        left: -18%;
    }
    100% {
        left: 112%;
        top: 17%
    }
}

@keyframes ray {
    0% {
        left: 128%;
    }
    100% {
        left: -20%;
        top: 78%
    }
}

@keyframes whale {
    0% {
        left: 128%;
    }
    100% {
        left: -20%;
        top: 49%
    }
}

.lava {
    background: url('./../img/lava.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    left: 64.2%;
    top: -0.3%;
    height: 5%;
    width: 13%;
}

.home {
    background-image: url('./../img/bg.jpg');
    position: relative;
    display: block;
    overflow: hidden;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 0;
    padding-top: 161%;
    //max-width: 1920px;
    max-height: 3200px;
    .lava_cloud {
        background: url('./../img/lava_cloud.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 29%;
        top: 0;
        height: 5%;
        width: 71%;
        padding-top: 0%;
        animation: MoveUpDown 2s linear infinite;
    }
    .object {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .sun_fire {
        background: url('./../img/sun_fire.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 82.2%;
        top: 1.9%;
        height: 8%;
        width: 12%;
        transform-origin: 50% 50%;
        animation: spin 4s linear infinite;
    }
    .sun_face {
        background: url('./../img/sun_face.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 84.9%;
        top: 3.9%;
        height: 8%;
        width: 6.5%;
    }
    .ferry {
        background: url('./../img/ferry.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 4.9%;
        top: 8.7%;
        height: 4%;
        width: 19.5%;
        animation: MoveFerry 88s linear infinite;
    }
    .boat {
        background: url('./../img/boat.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 14.9%;
        top: 6.2%;
        height: 33%;
        width: 49.5%;
        transform-origin: 50% 50%;
        animation: MoveBoat 2s linear infinite;
        .teacher_arm {
            background: url('./../img/teacher_arm.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: absolute;
            left: 53.15%;
            top: 7.56%;
            height: 10%;
            width: 3.5%;
            transform-origin: 0% 100%;
            animation: Waving 1s linear infinite;
        }
        .gonza_arm {
            background: url('./../img/gonza_arm.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            position: absolute;
            left: 80.62%;
            top: 3.56%;
            height: 12%;
            width: 6.5%;
            transform-origin: 0% 100%;
            animation: Waving 1s linear infinite;
        }
    }
    .diver_arm {
        background: url('./../img/diver_arm.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 5.1%;
        top: 12.56%;
        height: 5%;
        width: 3.5%;
        transform-origin: 0% 100%;
        animation: Waving 1s linear infinite;
    }
    .jellyfish {
        background: url('./../img/jellyfish.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 21.9%;
        top: 21.7%;
        height: 33%;
        width: 23%;
        animation: Jellyfish 33s linear infinite;
    }
    .zebra_fish {
        background: url('./../img/zebra_fish.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 1.9%;
        top: 27.7%;
        height: 4%;
        width: 7%;
        animation: zebra_fish 20s linear infinite;
    }
    .gold_fish {
        background: url('./../img/gold_fish.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 21.9%;
        top: 22.7%;
        height: 3%;
        width: 10%;
        animation: gold_fish 30s linear infinite;
    }
    .blue_fish {
        background: url('./../img/blue_fish.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 21.9%;
        top: 35.7%;
        height: 3%;
        width: 10%;
        animation: blue_fish 40s linear infinite;
    }
    .diver {
        background: url('./../img/diver.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 110%;
        top: 21.7%;
        height: 17%;
        width: 24%;
        animation: diver 40s linear infinite;
    }
    .little_fish {
        background: url('./../img/little_fish.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -3%;
        top: 22.7%;
        height: 1.9%;
        width: 3%;
        animation: little_fish 40s linear infinite;
    }
    .prawn {
        background: url('./../img/prawn.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 98.9%;
        top: 24.7%;
        height: 1.6%;
        width: 2%;
        animation: prawn 40s linear infinite;
    }
    .barra1 {
        background: url('./../img/barra1.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 35%;
        height: 3.6%;
        width: 12%;
        animation: barra1 8s linear infinite;
    }
    .barra2 {
        background: url('./../img/barra2.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 40%;
        height: 3.6%;
        width: 12%;
        animation: barra2 12s linear infinite;
    }
    .barra3 {
        background: url('./../img/barra3.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 45%;
        height: 3.9%;
        width: 12%;
        animation: barra3 6s linear infinite;
    }
    .barra4 {
        background: url('./../img/barra4.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 50%;
        height: 3.6%;
        width: 12%;
        animation: barra4 11s linear infinite;
    }
    .barra5 {
        background: url('./../img/barra5.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 55%;
        height: 3.6%;
        width: 12%;
        animation: barra5 9s linear infinite;
    }
    .barra5 {
        background: url('./../img/barra5.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 55%;
        height: 3.6%;
        width: 12%;
        animation: barra5 9s linear infinite;
    }
    .barra6 {
        background: url('./../img/barra6.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: 60%;
        height: 3.6%;
        width: 12%;
        animation: barra6 5s linear infinite;
    }
    .turtle {
        background: url('./../img/turtle.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: -24%;
        top: 37%;
        height: 11.6%;
        width: 23%;
        animation: turtle 55s linear infinite;
    }
    .ray {
        background: url('./../img/ray.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 124%;
        top: 37%;
        height: 14.6%;
        width: 24%;
        animation: ray 99s linear infinite;
    }
    .whale {
        background: url('./../img/whale.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 154%;
        top: 50%;
        height: 14%;
        width: 72%;
        animation: whale 79s linear infinite;
    }
    .App_bubbles {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 19.4%;
        overflow: hidden;
        //make sure they are behind content:
        z-index: 0;
        .bubble {
            opacity: 0.6;
            background-image: url(./../img/bubble.svg);
            height: 1%;
            position: absolute;
            width: 1%;
            background-size: 100% auto;
            background-position: center top;
            background-repeat: no-repeat;
        }
    }
    //each bubble
    .x1 {
        animation: animateBubble 50s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 2%;
        top: 105%;
        transform: scale(1.6);
    }
    .x2 {
        animation: animateBubble 40s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 5%;
        top: 55%;
        transform: scale(1.4);
    }
    .x3 {
        animation: animateBubble 76s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 10%;
        top: 75%;
        transform: scale(1.7);
    }
    .x4 {
        animation: animateBubble 44s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 14%;
        top: 95%;
        transform: scale(1.3);
    }
    .x5 {
        animation: animateBubble 58s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 20%;
        top: 105%;
        transform: scale(1.5);
    }
    .x6 {
        animation: animateBubble 42s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 80%;
        top: 125%;
        transform: scale(1.8);
    }
    .x7 {
        animation: animateBubble 40s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 85%;
        top: 112%;
        transform: scale(1.4);
    }
    .x8 {
        animation: animateBubble 44s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 82%;
        top: 145%;
        transform: scale(1.3);
    }
    .x9 {
        animation: animateBubble 58s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 92%;
        top: 135%;
        transform: scale(1.6);
    }
    .x10 {
        animation: animateBubble 52s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 96%;
        top: 75%;
        transform: scale(1.3);
    }
    .x11 {
        animation: animateBubble 60s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 12%;
        top: 101%;
        transform: scale(1.6);
    }
    .x12 {
        animation: animateBubble 44s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 7%;
        top: 59%;
        transform: scale(1.4);
    }
    .x13 {
        animation: animateBubble 52s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 2%;
        top: 87%;
        transform: scale(1.7);
    }
    .x14 {
        animation: animateBubble 48s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 12%;
        top: 125%;
        transform: scale(1.3);
    }
    .x15 {
        animation: animateBubble 64s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 22%;
        top: 11%;
        transform: scale(1.5);
    }
    .x16 {
        animation: animateBubble 49s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 81%;
        top: 28%;
        transform: scale(1.8);
    }
    .x17 {
        animation: animateBubble 48s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 87%;
        top: 37%;
        transform: scale(1.4);
    }
    .x18 {
        animation: animateBubble 42s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 84%;
        top: -10%;
        transform: scale(1.3);
    }
    .x19 {
        animation: animateBubble 53s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 82%;
        top: -20%;
        transform: scale(1.6);
    }
    .x20 {
        animation: animateBubble 59s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 91%;
        top: -30%;
        transform: scale(1.3);
    }
    .x21 {
        animation: animateBubble 30s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 7%;
        top: 87%;
        transform: scale(1.6);
    }
    .x22 {
        animation: animateBubble 35s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 2%;
        top: 99%;
        transform: scale(1.4);
    }
    .x23 {
        animation: animateBubble 71s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 4%;
        top: 78%;
        transform: scale(1.7);
    }
    .x24 {
        animation: animateBubble 85s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 14%;
        top: 94%;
        transform: scale(0.3);
    }
    .x25 {
        animation: animateBubble 84s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 12%;
        top: 85%;
        transform: scale(0.5);
    }
    .x26 {
        animation: animateBubble 39s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 83%;
        top: 121%;
        transform: scale(0.8);
    }
    .x27 {
        animation: animateBubble 46s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 88%;
        top: -50%;
        transform: scale(0.4);
    }
    .x28 {
        animation: animateBubble 88s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 86%;
        top: 142%;
        transform: scale(0.3);
    }
    .x29 {
        animation: animateBubble 102s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 95%;
        top: 137%;
        transform: scale(0.6);
    }
    .x30 {
        animation: animateBubble 111s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 79%;
        top: 79%;
        transform: scale(0.3);
    }
    .x31 {
        animation: animateBubble 80s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 18%;
        top: 104%;
        transform: scale(0.6);
    }
    .x32 {
        animation: animateBubble 54s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 17%;
        top: 32%;
        transform: scale(0.4);
    }
    .x33 {
        animation: animateBubble 59s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 3%;
        top: 40%;
        transform: scale(0.7);
    }
    .x34 {
        animation: animateBubble 45s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 1%;
        top: 123%;
        transform: scale(0.3);
    }
    .x35 {
        animation: animateBubble 76s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 14%;
        top: 33%;
        transform: scale(0.5);
    }
    .x36 {
        animation: animateBubble 74s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 18%;
        top: 18%;
        transform: scale(0.8);
    }
    .x37 {
        animation: animateBubble 93s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 75%;
        top: 55%;
        transform: scale(0.4);
    }
    .x38 {
        animation: animateBubble 98s linear infinite, sideWays 3s ease-in-out infinite alternate;
        left: 24%;
        top: -100%;
        transform: scale(0.3);
    }
    .x39 {
        animation: animateBubble 50s linear infinite, sideWays 4s ease-in-out infinite alternate;
        left: 22%;
        top: 102%;
        transform: scale(0.6);
    }
    .x40 {
        animation: animateBubble 52s linear infinite, sideWays 2s ease-in-out infinite alternate;
        left: 61%;
        top: 130%;
        transform: scale(0.3);
    }
    // Anim
    @keyframes animateBubble {
        0% {
            margin-top: 1000px;
        }
        100% {
            margin-top: -100%;
        }
    }
    @keyframes sideWays {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: 50px;
        }
    }
}